li {
  list-style: none;
}
.italian-sausage {
  font-size: 20px;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
}
.salmon-bake {
  font-size: 20px;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
}
